<form>
  <div class="container">
  <div>
    <fieldset>
      <legend> Book Machinary </legend>
      <p>
        <label> Select Machine</label>
        <select id="machines">
          <option value = "tractor"> Tractor</option>
          <option value = "plough"> Plough</option>
          <option value = "fertilizer"> Fertilizer Drill</option>
          <option value = "rotovator"> Rotovator</option>
          <option value = "ridger"> Ridger</option>
          <option value = "dieselengine"> Diesel Engine</option>
          <option value = "bullock"> Bullock Cart</option>

        </select>
      </p>
    </fieldset>
  </div>
  <div>
    <input type="radio" name="operator" value="yes">Yes<br>
    <input type="radio" name="operator" value="yes">Yes<br><br>

    <input type="date" autocomplete="off" placeholder="Start Date" id="sdate">
    <input type="date" autocomplete="off" placeholder="Due Date" id="ddate">
  </div>
  <div>
    <button type="submit" id="submit">Submit</button>
  </div>
</div>
</form>